/* whole body style and background */
body {
	background-image: url("../images/metal.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: center;
}
/* header style */
h1{
	color: rgb(255, 102, 0);
	font-weight: 800;
	font-size: 80px;
	text-shadow: 0 2px 5px black, 0 2px 8px black;
}
/* name input and button */
#name-form{
	margin: 50px 0 50px 0;
}
/* style of the input box */
#name-input {
  color: #fff;
  text-align: center;
  border-radius: 3px;
  font-size: 17px;
	font-size: bolder;
	background-color: black;
	border: 1px dotted rgb(255, 102, 0);
}
#name-input:focus {
	color: white;
	background-color: rgb(0, 0, 0);
	font-weight: bolder;
	font-size: 17px;	
	box-shadow: 0 2px 10px rgb(255, 102, 0),
	0 2px 20px rgb(255, 102, 0);
	border: none;
}
#name-input:active {
	box-shadow: 0 1px 10px rgb(255, 102, 0),
	0 1px 15px rgb(255, 102, 0),
	0 1px 20px rgb(255, 102, 0);
	border: none;
	background-color: black;
}
/* end input box style */
/* style of submit button */
#add-name-button {
	border-radius: 4px;
	background-color: rgb(255, 102, 0);
	border: 1px solid black;
	font-size: 25px;
	font-weight: 400;
	box-shadow: 0 2px 10px black, 0 2px 20px black;
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;  
}
#add-name-button:hover{
	background-color: rgb(0, 119, 255);
}
/* end submit button*/
/* showing the users' whose turn it is  */
.playerPanelTurn {
	border: 2px solid rgb(0, 119, 255);
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(0, 119, 255),
	0 0 20px rgb(0, 119, 255),
	0 0 30px rgb(0, 119, 255),
	0 0 40px rgb(0, 119, 255);
}
/* users name and background style */
.panelName {
	background-color: #000000;
	font-size: 35px;
	padding: 10px 0px 5px 0px;
	font-weight: 600;
	color: rgb(255, 102, 0);
	border-radius: 5px;
	box-shadow: 0 2px 10px black, 0 2px 20px black;
}
/* style of the players selection (Rock Paper Scissors) */
.playerPanel .panelOption {
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.616);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: white;
	margin: 20px 0 10px 0;
	box-shadow: 0 2px 10px black, 0 2px 20px black;
	border-radius: 5px;
	border: 1px dotted rgb(255, 102, 0);
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out; 
}
.panelOption:hover {
	background-color: rgb(255, 102, 0);
	color: black;
	cursor: pointer;
}
/* end of style */
/* style of stats board players */
.panelStats {
	text-align: center;
	font-size: 30px;
	background-color: rgb(0, 119, 255);
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 10px black,
	0 2px 20px black;
	font-weight: 700;
	text-shadow: 0 1px 4px black;
}
/* style of game panel displaying the games stats */
.gamePanel {
	background-color: rgb(255, 102, 0);
	border-radius: 5px;
	box-shadow: 0 2px 10px black,
	0 2px 20px black;
	color: black;
	font-weight: 600;
	font-size: 25px;
}
/* end */
/* center display of game play */
#waitingNotice {
	font-size: 20px;
	font-weight: 500;
}
#round-notice{
	font-size: 24px;
	font-weight: 500;
}
/* end */
/* game chat */
/* background of chat input box */
.card{
	background-color: rgb(255, 102, 0);
	border-radius: 10px;
	box-shadow: 0 2px 10px black,
	0 2px 20px black;
	margin: 10px;
}
/* style of input for sending chat */
#chat-input {
	color: #ffffff;
	text-align: center;
	background-color: #000000;
	border: 1px solid black;
	width: 400px;
	border-radius: 2px;
	box-shadow: 0 2px 10px black;
}
#chat-input:focus {
	color: #ffffff;
	background-color: rgb(0, 0, 0);
	border: none;
}
#chat-input:active {
	border: 1px dotted rgb(255, 102, 0);
}
/* submit chat button */
#chat-button {
	background-color: rgb(0, 0, 0);
	color: #fff;
	border-radius: 8px;
	border: 1px solid rgb(255, 102, 0);
}
#chat-button:hover{
	box-shadow: 0 2px 10px black,
	0 2px 20px black;
}
/* end */
/* rendered data of chat box */
#chat-display {
  border-radius: 10px;
	background-color: #ffffff;
	width: 500px;
	box-shadow: 0 2px 10px black,
	0 2px 20px black;
}
/* chat color of player one */
.chatColor1 {
	color: rgb(0, 119, 255);
}
/* chat color of player two */
.chatColor2 {
	color: #ff00bf;
}
/* disconnected chat style */
.chatColorDisconnected {
	color: #000000;
	font-style: italic;
	font-weight: 800;
}
/* player joined chat style */
.chatColorJoined {
	color: rgb(255, 102, 0);
	font-style: italic;
	font-size: 21px;
	font-weight: 500;
}
